---
layout: default
---

<article class='post feedify'>
  {% for set in page.sets %}
    <div class="post--band feedify-item">
      <h2 class="post--band-name feedify-item-header">
        {{ set.band_name }}

        <a href="#" class="top">top &uarr;</a>
      </h2>

      <p class="feedify-item-body">
        <center>
          {% for photo in set.photos %}
            <img src="{{ photo }}" alt="{{ set.band_name }} - {{ page.location }}" />
          {% endfor %}
        </center>
      </p>
    </div>
  {% endfor %}

  {{ content }}

  <iframe
    class="post-vote"
    style="border:0;width:155px;height:77px;margin:0 auto;display:block;"
    src="http://localhost:9393/button?url={{ page.url }}&amp;label=Click to appreciate&amp;thanks_label=Thank+you%21"
    scrolling="no"
  ></iframe>

  <div class="notice">
    <p>Those photos are courtesy of all the people and bands captured. Feel free to do whatever you want with them but please just drop
    me a line or link keepthismoment.com back. Thanks!</p>
  </div>
</article>
