---
layout: default
---

<article class='post feedify lightgallery'>
  {% for set in page.sets %}
    <div class="post--band feedify-item">
      <h2 class="post--band-name feedify-item-header">
        {{ set.band_name }}

        <a href="#" class="top">top &uarr;</a>
      </h2>

      <p class="feedify-item-body">
        <center>
          {% for photo in set.photos %}
            {% if photo.first %}
              <a href="https://{{ photo.first }}" class="post--photo" title="{{ set.band_name }}">
                <img src="https://{{ photo.first }}" title="{{ set.band_name }}" alt="{{ set.band_name }}" style="max-width: {{ photo[1] }}px; max-height: {{ photo[2] }}px; width:100%; height:100%;" />
              </a>
            {% else %}
              <img src="{{ photo }}" alt="{{ set.band_name }} - {{ page.location }}" />
            {% endif %}
          {% endfor %}
        </center>
      </p>
    </div>
  {% endfor %}

  {{ content }}

  <div class="notice">
    <p>These photos are courtesy of all the people and bands captured. Feel free to do whatever you want with them but please just drop
    me a line or link keepthismoment.com back. Thanks!</p>
  </div>
</article>
