---
layout: syndex
---

<div id="logo_index_left">
  <a href="/">{{ page.page_title | default: 'KTM.exe' }}</a>
</div>

<article class='post feedify lightgallery'>
  {% for set in page.sets %}
    <div class="post--band feedify-item">
      <h2 class="post--band-name feedify-item-header">
        {{ set.band_name }}
      </h2>

      <p class="feedify-item-body">
        <center>
          {% if set.notice %}
            <span class="set-notice">{{ set.notice }}</span>
          {% endif %}

          {% for photo in set.photos %}
            {% if photo.first %}
              <a href="https://{{ photo.first }}" class="post--photo col-{{ photo[1] }}" title="{{ set.band_name }}">
                <img src="https://{{ photo.first }}" title="{{ set.band_name }}" alt="{{ set.band_name }}" />
              </a>
            {% else %}
              <img src="{{ photo }}" alt="{{ set.band_name }} - {{ page.location }}" />
            {% endif %}
          {% endfor %}
        </center>
      </p>
    </div>
  {% endfor %}

  {{ content }}

  <div class="notice">
    <p>These photos are courtesy of all the people and bands captured. Feel free to do whatever you want with them but please just drop
    me a line or link keepthismoment.com back. Thanks!</p>
  </div>
</article>
